@font-face {
  font-family: "Inter";
  src: url(assets/font/Inter/Inter-VariableFont_opsz\wght.ttf);
}

:root {
  --color-primary: #dc2626;
  --color-secondary: #fbbf24;
  --color-bg-light: #fafafa;
  --color-bg-dark: #e4e4e7;
  --color-bg-sidebar: #172554;
  --color-text-light: #eef2ff;
  --color-text-darker: #818cf8;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* BASIC LAYOUT */
body {
  min-height: 100vh;
  background: var(--color-bg-dark);
  display: grid;
  grid:
    "sidebar header" 160px
    "sidebar main" 1fr
    / minmax(250px, 1fr) 4fr;
}

header,
article {
  background: var(--color-bg-light);
}

header {
  grid-area: header;
}

aside {
  background: var(--color-bg-sidebar);
  grid-area: sidebar;
}

main {
  grid-area: main;
  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
  gap: 1rem;
  padding: 2rem 1rem 3rem;
}

.projects {
  grid-row: 1 / 3;
}

/* HEADER */
header {
  display: grid;
  grid-template: 4fr 5fr / 4fr 3fr;
  padding: 1rem 2.5rem;
}

.search {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  align-items: center;
}

.search-bar, .notifications {
  display: flex;
  align-items: center;
}

.search-bar {
  gap: 1rem;
  margin-right: auto;
}

.notifications {
  gap: 1.5rem;
}

.notifications .user {
  display: flex;
  align-items: center;
  gap: inherit;
}

svg {
  width: 24px;
}

.profile-pic img {
  width: 40px;
}

.profile-pic.large img {
  width: 64px;
}